body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #8da4df;
}

#userData {
    width: 70%;
    margin: auto;
}

.card {
    background: rgb(197, 193, 193);
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(8, 5, 5, 0.2);
}

.card p {
    margin: 8px 0;
}